.teamBlog{
    background: url('../public/img/blog/blog-4.jpg') no-repeat ;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-20px;
    font-size: 54px;
    font-weight: bold;
    color: #fff
}