%center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}